body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'NeutraFont';
  src: url('./assets/Neutra\ Text\ Bold.otf') format("opentype");
}

.neutra {
  font-family: 'NeutraFont';
}

.header {
  padding-top: 32px;
  width: 100%;
  height: 1100px;
  background-image: url('./assets/header-background2.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.inner {
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #000;
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
}

.header-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 580px;
  margin-bottom: 48px;
}

.header-discover {
  flex: 1;
  display: flex;
  font-size: 30pt;
  justify-content: center;
  margin-bottom: 48px;
}

.header-show-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.header-show-me span {
  font-weight: bold;
  font-size: 30pt;
}

.header-show-me .selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #555555;
  text-transform: uppercase;
  border-radius: 33px;
  height: 60px;
  width: 260px;
}

.header-show-me .selector .toggle {
  font-weight: normal;
  font-size: 13pt;
  padding: 16px 34px;
  cursor: pointer;
}

.header-show-me .selector .toggle.active {
  background: url('./assets/toggle-background.jpg');
  border-radius: 33px;
  margin-left: 2px;
  margin-right: 2px;
  color: #fff;
}


.header-show-me .selectdiv {
  position: relative;
}

.header-show-me select {
  font-size: 13pt;
  background: #fff;
  border: 1px solid #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: uppercase;
  border-radius: 33px;
  width: 200px;
  height: 60px;
  outline: none;
  padding-left: 30px;
}

.header-show-me .selectdiv:after {
  content: url('./assets/arrowdown.png');
  position: absolute;
  height: 14px;
  width: 20px;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}

.header-show-me .buttondiv {
  position: relative
}

.header-show-me .buttondiv:after {
  content: url('./assets/arrowright.png');
  position: absolute;
  height: 21px;
  width: 14px;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}

.header-show-me button {
  font-size: 13pt;
  background: #fff;
  border: 1px solid #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: uppercase;
  border-radius: 33px;
  width: 200px;
  height: 60px;
  outline: none;
  text-align: left;
  padding-left: 30px;
}

.join {
  background: url('./assets/join-background.jpg') repeat-x;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.join h2 {
  font-size: 30pt;
  text-align: center;
  font-weight: lighter;
}

.join h3 {
  font-size: 24pt;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 48px;
}

.join .after-text {
  font-size: 16pt;
  text-align: center;
  font-weight: lighter;
}

.join .email-input {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.join .email-input input {
  outline: none;
  background: none;
  border: 1px solid #fff;
  border-radius: 33px;
  height: 36px;
  color: #fff;
  padding-left: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 50%;
}

.join .email-input .input-append {
  box-sizing: border-box;
  margin-left: -1px;
  outline: none;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 33px;
  height: 36px;
  color: #000;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.join .email-input .input-append button {
  margin-left: -1px;
  outline: none;
  background: none;
  border: none;
  height: 36px;
  color: #000;
  padding: 0px 30px;
}

.join .email-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.what-is {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.what-is .inner {
  max-width: 550px;
  margin: 0 auto;
}

.what-is .title {
  font-size: 50pt;
  display: flex;
  align-items: center;
}

.what-is .description {
  font-size: 22pt;
  color: #a6a4a4;
}

.what-is .more {
  font-size: 16pt;
  color: #4c4b4b;
}

.what-is .more a {
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: #e96340;
}

.events {
  background: url('./assets/event-top-background.jpg') repeat-x;
  min-height: 500px;
}

.events .container {
  position: relative;
}

.events .container .year {
  position: absolute;
  font-size: 292pt;
  z-index: 0;
  color: #e7e9e9;
  font-family: 'Montserrat';
  font-weight: 800;
  left: 50%;
  margin-left: -450px;
}

.events .top {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.events .top h4 {
  font-weight: bold;
  font-size: 30pt;
  margin-top: 0px;
  padding-top: 0px;
  color: #2d2c2c;
}

.events .top .sponsored{
  font-size: 18pt;
  color: #2d2c2c;
}

.events .bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
}
.events .bottom img{
  position: relative;
  cursor: pointer;
}

.events .view-more {
  margin-bottom: 48px;
  text-align: center;
}

.events .view-more a {
  text-decoration: none;
  color: #e76441;
  font-size: 30pt;
  margin-bottom: 48px;
}

.footer {
  min-height: 500px;
  background: #0e0e0e;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer .container>div {
  width: 25%;
}

.footer .center {
  padding-top: 96px;
  text-align: center;
  font-size: 16pt;
}

.footer .center img {
  margin-bottom: 32px;
}

.footer .right,
.footer .left {
  padding-top: 120px;
}

.footer .right .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 36px;
}

.footer .right .site-links,
.footer .right .tags {
  display: flex;
  flex-direction: column;
}

.footer .right .site-links a,
.footer .right .tags a {
  color: #fff;
  text-decoration: none;
}

.footer .right .bottom a {
  color: #e96142;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.footer .right .bottom .phone {
  display: block;
  margin-bottom: 16px;
}

.footer .right .bottom address {
  font-style: normal;
  font-weight: normal;
}

.footer .left .email-input {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.footer .left .email-input input {
  outline: none;
  background: none;
  border: 1px solid #fff;
  border-radius: 33px;
  height: 36px;
  color: #fff;
  padding-left: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 60%;
}

.footer .left .email-input .input-append {
  box-sizing: border-box;
  margin-left: -1px;
  outline: none;
  background: #e9594d;
  border: 1px solid #fff;
  border-radius: 33px;
  height: 36px;
  color: #000;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.footer .left .email-input .input-append button {
  margin-left: -1px;
  outline: none;
  background: none;
  border: none;
  height: 36px;
  color: #fff;
  padding: 0px 30px;
}

.footer .left .email-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.footer .left img {
  margin-bottom: 48px;

}

.footer .left span {
  display: block;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1140px) {
  body {
    /* background-color: blue; */
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .navbar,
  .inner {
    padding: 0 20px;
  }

  .events .top, .events .bottom {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer {
    padding-bottom: 48px;
  }

  .footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer .container>div {
    width: 60%;
  }
}