body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding-top: 32px;
  width: 100%;
  height: 1100px;
  background-image: url('./assets/header-background2.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #000;
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
}

.header-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 580px;
  margin-bottom: 48px;
}

.header-discover {
  flex: 1;
  display: flex;
  font-size: 30pt;
  justify-content: center;
  margin-bottom: 48px;
}

.header-show-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.header-show-me span {
  font-weight: bold;
  font-size: 30pt;
}

.header-show-me .selector  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #555555;
  text-transform: uppercase;
  border-radius: 33px;
  height: 60px;
  width: 260px;
}

.header-show-me .selector .toggle {
  font-weight: normal;
  font-size: 13pt;
  padding: 16px 34px;
  cursor: pointer;
}

.header-show-me .selector .toggle.active {
  background: url('./assets/toggle-background.jpg');
  border-radius: 33px;
  margin-left: 2px;
  margin-right: 2px;
  color: #fff;
}


.header-show-me .selectdiv {
  position: relative;
}

.header-show-me select {
  font-size: 13pt;
  background: #fff;
  border: 1px solid #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: uppercase;
  border-radius: 33px;
  width: 200px;
  height: 60px;
  outline: none;
  padding-left: 30px;
}

.header-show-me .selectdiv:after {
  content: url('./assets/arrowdown.png');
  position: absolute;
  height: 14px;
  width: 20px;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}

.header-show-me .buttondiv {
  position: relative
}

.header-show-me .buttondiv:after {
  content: url('./assets/arrowright.png');
  position: absolute;
  height: 21px;
  width: 14px;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}

.header-show-me button {
  font-size: 13pt;
  background: #fff;
  border: 1px solid #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: uppercase;
  border-radius: 33px;
  width: 200px;
  height: 60px;
  outline: none;
  text-align: left;
  padding-left: 30px;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1140px) {
  body {
    /* background-color: blue; */
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .navbar {
    padding: 0 20px;
  }
}